In [1]:
import findspark

In [2]:
findspark.init("C:\\spark")

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("First_Example").getOrCreate()

In [6]:
df = spark.read\
.json("C:\\Users\\lenovo\\Desktop\\PROJECTS\\SPARK\\Ä°nsanlar_Data\\insanlar.json")

In [7]:
df.show(50)

+--------------------+--------+----+--------+----+
|     _corrupt_record|cinsiyet|  id|    isim| yas|
+--------------------+--------+----+--------+----+
|[{"id":1,"isim":"...|    null|null|    null|null|
|                null|  Female|   2|  Nadean|  29|
|                null|    Male|   3| Edgardo|  67|
|                null|  Female|   4|   Vonny|  59|
|                null|    Male|   5|Hercules|  62|
|                null|    Male|   6|   Lanny|  65|
|                null|    Male|   7|  Norris|  19|
|                null|  Female|   8|   Karia|  51|
|                null|  Female|   9|  Korrie|  37|
|                null|  Female|  10|  Hallie|  54|
|                null|  Female|  11|   Aidan|  31|
|                null|  Female|  12|   Lotte|  60|
|                null|  Female|  13|    Zora|  28|
|                null|  Female|  14|Odelinda|  46|
|                null|    Male|  15|Basilius|  51|
|                null|  Female|  16|   Irena|  52|
|                null|    Male|  17|    Vite|  68|
|                null|    Male|  18|     Ave|  47|
|                null|    Male|  19| Vassili|  25|
|                null|    Male|  20| Bastien|  62|
|                null|  Female|  21|     Ola|  23|
|                null|    Male|  22|   Meryl|  23|
|                null|    Male|  23|   Nikki|  14|
|                null|  Female|  24|     Joy|  59|
|                null|    Male|  25|  Nikola|  38|
|                null|    Male|  26|   Prent|  29|
|                null|  Female|  27|   Amara|  38|
|                null|  Female|  28|   Honor|  15|
|                null|  Female|  29| Monique|  56|
|                null|  Female|  30|     Fae|  61|
|                null|  Female|  31|  Emilia|  69|
|                null|  Female|  32|  Marley|  56|
|                null|  Female|  33|  Bambie|  27|
|                null|  Female|  34|   Dredi|  48|
|                null|  Female|  35|   Mable|  29|
|                null|  Female|  36| Dorelle|  43|
|                null|  Female|  37|   Nonna|  54|
|                null|    Male|  38|Algernon|  20|
|                null|    Male|  39|  Antone|  19|
|                null|    Male|  40|    Lyle|  27|
|                null|  Female|  41|  Corina|  43|
|                null|    Male|  42|   Homer|  24|
|                null|    Male|  43| Sargent|  11|
|                null|  Female|  44|   Marge|  67|
|                null|    Male|  45|  Jessey|  33|
|                null|  Female|  46|  Paloma|  52|
|                null|    Male|  47|  Perice|  51|
|                null|    Male|  48|     Joe|  59|
|                null|  Female|  49|  Florri|  21|
|                null|  Female|  50|    Dale|  18|
+--------------------+--------+----+--------+----+
only showing top 50 rows

In [8]:
df.select("yas").show(5)

+----+
| yas|
+----+
|null|
|  29|
|  67|
|  59|
|  62|
+----+
only showing top 5 rows

In [9]:
df.select(df["isim"], df["yas"] +1).show(10)

+--------+---------+
|    isim|(yas + 1)|
+--------+---------+
|    null|     null|
|  Nadean|       30|
| Edgardo|       68|
|   Vonny|       60|
|Hercules|       63|
|   Lanny|       66|
|  Norris|       20|
|   Karia|       52|
|  Korrie|       38|
|  Hallie|       55|
+--------+---------+
only showing top 10 rows

In [10]:
df.filter(df["yas"] < 22).orderBy("yas", ascending = True).show(20)

+---------------+--------+---+----------+---+
|_corrupt_record|cinsiyet| id|      isim|yas|
+---------------+--------+---+----------+---+
|           null|  Female|168|     Marty|  9|
|           null|  Female|149|    Crissy|  9|
|           null|  Female|493| Cristabel|  9|
|           null|  Female|495|     Becca|  9|
|           null|  Female|228|   Rozanna|  9|
|           null|    Male|291|     Mason|  9|
|           null|    Male|212|      Phip|  9|
|           null|  Female|292|    Tammie|  9|
|           null|    Male|197|Christiano|  9|
|           null|    Male|420|        Jo|  9|
|           null|  Female|460|   Elsbeth|  9|
|           null|  Female|222|  Jaquelin|  9|
|           null|    Male| 52|  Gilberto| 10|
|           null|    Male| 84|   Raymund| 10|
|           null|    Male|295|      Mark| 10|
|           null|  Female|206|     Ruthy| 10|
|           null|  Female|163|    Veriee| 10|
|           null|  Female|298|      Page| 10|
|           null|    Male|461|      Tore| 10|
|           null|    Male|334| Zachariah| 10|
+---------------+--------+---+----------+---+
only showing top 20 rows

In [11]:
df.groupBy("yas").count().show(10)

+---+-----+
|yas|count|
+---+-----+
| 29|   15|
| 26|    1|
| 65|    4|
| 19|    8|
| 54|    6|
| 22|    9|
| 34|    6|
| 50|   12|
| 57|    6|
| 43|   13|
+---+-----+
only showing top 10 rows

In [12]:
df.groupBy("yas").count().orderBy("count", ascending = False).show(20)

+---+-----+
|yas|count|
+---+-----+
| 29|   15|
| 45|   15|
| 39|   13|
| 43|   13|
| 16|   13|
| 51|   12|
|  9|   12|
| 50|   12|
| 15|   12|
| 28|   11|
| 41|   11|
| 24|   11|
| 63|   10|
| 47|   10|
| 35|   10|
| 62|   10|
| 61|   10|
| 20|   10|
| 66|    9|
| 56|    9|
+---+-----+
only showing top 20 rows