In [1]:
import findspark

In [2]:
findspark.init("C:\\spark")

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [36]:
spark = SparkSession.builder.appName("SQL_BOOKS").getOrCreate()

In [8]:
def CSV_ROW(row):
    item = row.split(",")
    return Row(book_id = int(item[0]), user_id = int(item[1]), rating = int(item[2]))

In [37]:
rows = spark.sparkContext\
.textFile("C:\\Users\\lenovo\\Desktop\\PROJECTS\\SPARK\\books_data\\ratings.csv")
header = rows.first()
rows = rows.filter(lambda x: x != header)
books = rows.map(CSV_ROW)

In [38]:
df = spark.createDataFrame(books).cache()
df.createOrReplaceTempView("books")

In [11]:
df.show(10)

+-------+------+-------+
|book_id|rating|user_id|
+-------+------+-------+
|      1|     5|    314|
|      1|     3|    439|
|      1|     5|    588|
|      1|     4|   1169|
|      1|     4|   1185|
|      1|     4|   2077|
|      1|     4|   2487|
|      1|     5|   2900|
|      1|     4|   3662|
|      1|     5|   3922|
+-------+------+-------+
only showing top 10 rows

In [25]:
df2 = df.groupBy("book_id").count().orderBy("count", ascending=False)
df2.show()

+-------+-----+
|book_id|count|
+-------+-----+
|     65|  100|
|    191|  100|
|    418|  100|
|    541|  100|
|    558|  100|
|   1010|  100|
|   1224|  100|
|   1258|  100|
|   1277|  100|
|   1360|  100|
|   1840|  100|
|   2173|  100|
|   2812|  100|
|   2895|  100|
|   2906|  100|
|   2941|  100|
|   3015|  100|
|   3061|  100|
|   3106|  100|
|   3199|  100|
+-------+-----+
only showing top 20 rows

In [30]:
df2_new = df2.filter(df2["count"] != 100)
df2_new.groupBy("book_id").count().orderBy("count", ascending=False)
df2_new.show()

+-------+-----+
|book_id|count|
+-------+-----+
|   9852|   99|
|   9691|   99|
|   8421|   99|
|   9295|   99|
|   8872|   99|
|   7539|   99|
|   9348|   99|
|   6225|   99|
|   8640|   99|
|   7215|   99|
|   7612|   99|
|   7595|   99|
|   8977|   99|
|   9632|   99|
|   9233|   99|
|   8887|   99|
|   8440|   99|
|   6885|   99|
|   7032|   99|
|   6911|   99|
+-------+-----+
only showing top 20 rows

In [32]:
df.count()

981756

In [40]:
spark.sql("SELECT * FROM books WHERE rating >= 4").groupBy("book_id").count().orderBy("count", ascending=False).show()

+-------+-----+
|book_id|count|
+-------+-----+
|   3628|   98|
|   2244|   98|
|   1308|   97|
|   6642|   97|
|   9566|   97|
|   4483|   97|
|   1904|   97|
|   6920|   96|
|   6527|   96|
|   3660|   96|
|   5580|   96|
|   5207|   96|
|   3395|   96|
|   3275|   96|
|   6361|   95|
|   4522|   95|
|   9141|   95|
|   1380|   95|
|   3885|   95|
|   7883|   95|
+-------+-----+
only showing top 20 rows

In [43]:
spark.sql("SELECT * FROM books WHERE rating <= 2").groupBy("book_id").count().orderBy("count", ascending=False).show()

+-------+-----+
|book_id|count|
+-------+-----+
|   1793|   70|
|   1822|   55|
|   4045|   52|
|   1409|   51|
|   3550|   51|
|   4283|   51|
|   4009|   48|
|   4282|   48|
|   4399|   47|
|     96|   47|
|   8874|   46|
|   7450|   45|
|     34|   45|
|   8166|   45|
|   8466|   45|
|    303|   44|
|   9021|   43|
|   2749|   41|
|   9523|   40|
|   5706|   40|
+-------+-----+
only showing top 20 rows

In [46]:
df.groupBy("book_id").sum("rating").orderBy("sum(rating)", ascending=False).show()

+-------+-----------+
|book_id|sum(rating)|
+-------+-----------+
|   5207|        478|
|   6920|        478|
|   6361|        477|
|   3275|        477|
|   6590|        475|
|   4483|        475|
|   5580|        475|
|   1308|        474|
|   9566|        473|
|   3628|        473|
|   8978|        473|
|   3753|        472|
|   8109|        471|
|   1788|        470|
|   9141|        469|
|   2244|        468|
|    862|        468|
|   4868|        467|
|   4708|        466|
|   6642|        466|
+-------+-----------+
only showing top 20 rows

In [ ]:
spark.sql("SELECT * FROM books WHERE rating <=2").groupBy("book_id").count().orderBy("count")